@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Delius&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Delius", cursive;
    background-image: url(../images/background4.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#navbar {
    background: linear-gradient(to bottom, #39b54a, #93cc80);
    border-bottom: 3px solid #82aa75;
    top: 0px;
}

#navbar .content-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -4px 4px 12px #0a6207;
}  

#navbar a {
    color: rgb(101, 209, 23);
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding: 20px;
    display: flex-box;
    justify-content: space-between;
    margin-right: 50px;
}

#navbar a:hover {
    background-color: #10be0a78;
    border: dotted 5px;
    padding: 15px;
    border-radius: 15px;
}

#navbar #logo {
    color: rgb(255, 255, 255);
    font-family: "Covered By Your Grace", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin-left: 100px;
    text-decoration: none;
}

#links a {
    text-decoration: none;
    color: white;
}

#footer {
    background: linear-gradient(to bottom, #39b54a, #93cc80);
    color: white;
    padding: 12px;
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer-bar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#layout {
    border: solid 3px whitesmoke;
    margin: 2px auto;
    padding: 250px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 4px 4px 5px 5px #294328;
    margin-bottom: 50px;
    margin-top: 50px;
}

#layout {
    width: 800px;
    border-radius: 30px;
}

#layout img {
    width: 500px;
    border-radius: 20px;
}

#menu h1 {
    font-family: "Covered By Your Grace", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: #39b54a;
    text-align: center;
    color: white;
    border-radius: 20px;
    padding: 13px;
    margin-left: 700px;
    margin-right: 700px;
}

#hero {
    background-image: url("../images/hero.jpg");
    height: 500px;
    width: 800px;
    background-size: cover;
    background-position: center center;
    position: relative;
    right: 86%;
    top: -253px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: -4px 4px 12px #0a6207;
}

#hero h1 {
    position: absolute;
    top: 25%;
    left: 45%;
    font-size: 30px;
    margin-bottom: 36px;
    color: white;
    text-align: center;
    background-color: #39b54acb;
    border-radius: 20px;
    font-weight: 900;
}

#hero a {
    font-size: 24px;
    background-color:#0a6207d8;
    color: white;
    text-decoration: none;
    padding: 24px;
    border-radius: 20px;
    border: solid 2px #0a6207;
    position: relative;
    left: 57%;
    top: 300px;
}

#header {
    font-family: "Covered By Your Grace", cursive;
    color: #0a6207;
    text-align: center;
    position: relative;
    bottom: 250px;
    font-size: 40px;
}

#text {
    text-align: center;
    font-size: 30px;
    position: relative;
    color: #0a6207;
    bottom: 250px;
    height: 100px;
    margin-left: -90px;
    margin-right: -100px;
}