@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Delius&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Delius", cursive;
    background-image: url(../images/background4.jpg);
    height: 140vh;
    background-size: cover;
    background-attachment: fixed;
}

#navbar {
    background: linear-gradient(to bottom, #39b54a, #93cc80);
    border-bottom: 3px solid #82aa75;
    position: sticky;
    top: 0px;
}

#navbar .content-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -4px 4px 12px #0a6207;
}  

#navbar a {
    color: rgb(101, 209, 23);
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-right: 140px;
    padding: 20px;
}

#navbar a:hover {
    background-color: #10be0a78;
    border: dotted 5px;
    padding: 15px;
    border-radius: 15px;
}

#navbar #logo {
    color: rgb(255, 255, 255);
    font-family: "Covered By Your Grace", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin-left: 100px;
    text-decoration: none;
}

#links a {
    text-decoration: none;
    color: white;
}

#footer {
    background: linear-gradient(to bottom, #39b54a, #93cc80);
    color: white;
    padding: 12px;
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    margin-top: 140vh;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer-bar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

